<p id="notice"><%= notice %></p>

<p>
  <strong>Element type:</strong>
  <%= @element.element_type %>
</p>

<p>
  <strong>Set name:</strong>
  <%= @element.set_name %>
</p>

<p>
  <strong>Set number:</strong>
  <%= @element.set_number %>
</p>

<p>
  <strong>Figure name:</strong>
  <%= @element.figure_name %>
</p>

<p>
  <strong>Real name:</strong>
  <%= @element.real_name %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @element.rarity %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @element.unique %>
</p>

<p>
  <strong>Spd symbol:</strong>
  <%= @element.spd_symbol %>
</p>

<p>
  <strong>Att symbol:</strong>
  <%= @element.att_symbol %>
</p>

<p>
  <strong>Def symbol:</strong>
  <%= @element.def_symbol %>
</p>

<p>
  <strong>Dam symbol:</strong>
  <%= @element.dam_symbol %>
</p>

<p>
  <strong>Team ability:</strong>
  <%= @element.team_ability %>
</p>

<p>
  <strong>Range:</strong>
  <%= @element.range %>
</p>

<p>
  <strong>Targets:</strong>
  <%= @element.targets %>
</p>

<p>
  <strong>Starting click number:</strong>
  <%= @element.starting_click_number %>
</p>

<p>
  <strong>Starting click rank:</strong>
  <%= @element.starting_click_rank %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @element.keywords %>
</p>

<p>
  <strong>Improved targeting:</strong>
  <%= @element.improved_targeting %>
</p>

<p>
  <strong>Improved movement:</strong>
  <%= @element.improved_movement %>
</p>

<p>
  <strong>Traited powers:</strong>
  <%= @element.traited_powers %>
</p>

<p>
  <strong>Trait text:</strong>
  <%= @element.trait_text %>
</p>

<p>
  <strong>Movement special powers:</strong>
  <%= @element.movement_special_powers %>
</p>

<p>
  <strong>Point cost:</strong>
  <%= @element.point_cost %>
</p>

<p>
  <strong>Attack special powers:</strong>
  <%= @element.attack_special_powers %>
</p>

<p>
  <strong>Defense special powers:</strong>
  <%= @element.defense_special_powers %>
</p>

<p>
  <strong>Damage special powers:</strong>
  <%= @element.damage_special_powers %>
</p>

<p>
  <strong>Movement special text:</strong>
  <%= @element.movement_special_text %>
</p>

<p>
  <strong>Attack special text:</strong>
  <%= @element.attack_special_text %>
</p>

<p>
  <strong>Defense special text:</strong>
  <%= @element.defense_special_text %>
</p>

<p>
  <strong>Damage special text:</strong>
  <%= @element.damage_special_text %>
</p>

<p>
  <strong>Click 1 powers:</strong>
  <%= @element.click_1_powers %>
</p>

<p>
  <strong>Click 2 powers:</strong>
  <%= @element.click_2_powers %>
</p>

<p>
  <strong>Click 3 powers:</strong>
  <%= @element.click_3_powers %>
</p>

<p>
  <strong>Click 4 powers:</strong>
  <%= @element.click_4_powers %>
</p>

<p>
  <strong>Click 5 powers:</strong>
  <%= @element.click_5_powers %>
</p>

<p>
  <strong>Click 6 powers:</strong>
  <%= @element.click_6_powers %>
</p>

<p>
  <strong>Click 7 powers:</strong>
  <%= @element.click_7_powers %>
</p>

<p>
  <strong>Click 8 powers:</strong>
  <%= @element.click_8_powers %>
</p>

<p>
  <strong>Click 9 powers:</strong>
  <%= @element.click_9_powers %>
</p>

<p>
  <strong>Click 10 powers:</strong>
  <%= @element.click_10_powers %>
</p>

<p>
  <strong>Click 11 powers:</strong>
  <%= @element.click_11_powers %>
</p>

<p>
  <strong>Click 12 powers:</strong>
  <%= @element.click_12_powers %>
</p>

<p>
  <strong>Click 13 powers:</strong>
  <%= @element.click_13_powers %>
</p>

<p>
  <strong>Click 14 powers:</strong>
  <%= @element.click_14_powers %>
</p>

<p>
  <strong>Click 15 powers:</strong>
  <%= @element.click_15_powers %>
</p>

<p>
  <strong>Click 16 powers:</strong>
  <%= @element.click_16_powers %>
</p>

<p>
  <strong>Click 17 powers:</strong>
  <%= @element.click_17_powers %>
</p>

<p>
  <strong>Click 18 powers:</strong>
  <%= @element.click_18_powers %>
</p>

<p>
  <strong>Click 19 powers:</strong>
  <%= @element.click_19_powers %>
</p>

<p>
  <strong>Click 20 powers:</strong>
  <%= @element.click_20_powers %>
</p>

<p>
  <strong>Click 21 powers:</strong>
  <%= @element.click_21_powers %>
</p>

<p>
  <strong>Click 22 powers:</strong>
  <%= @element.click_22_powers %>
</p>

<p>
  <strong>Click 23 powers:</strong>
  <%= @element.click_23_powers %>
</p>

<p>
  <strong>Click 24 powers:</strong>
  <%= @element.click_24_powers %>
</p>

<p>
  <strong>Click 25 powers:</strong>
  <%= @element.click_25_powers %>
</p>

<p>
  <strong>Click 1 movement:</strong>
  <%= @element.click_1_movement %>
</p>

<p>
  <strong>Click 2 movement:</strong>
  <%= @element.click_2_movement %>
</p>

<p>
  <strong>Click 3 movement:</strong>
  <%= @element.click_3_movement %>
</p>

<p>
  <strong>Click 4 movement:</strong>
  <%= @element.click_4_movement %>
</p>

<p>
  <strong>Click 5 movement:</strong>
  <%= @element.click_5_movement %>
</p>

<p>
  <strong>Click 6 movement:</strong>
  <%= @element.click_6_movement %>
</p>

<p>
  <strong>Click 7 movement:</strong>
  <%= @element.click_7_movement %>
</p>

<p>
  <strong>Click 8 movement:</strong>
  <%= @element.click_8_movement %>
</p>

<p>
  <strong>Click 9 movement:</strong>
  <%= @element.click_9_movement %>
</p>

<p>
  <strong>Click 10 movement:</strong>
  <%= @element.click_10_movement %>
</p>

<p>
  <strong>Click 11 movement:</strong>
  <%= @element.click_11_movement %>
</p>

<p>
  <strong>Click 12 movement:</strong>
  <%= @element.click_12_movement %>
</p>

<p>
  <strong>Click 13 movement:</strong>
  <%= @element.click_13_movement %>
</p>

<p>
  <strong>Click 14 movement:</strong>
  <%= @element.click_14_movement %>
</p>

<p>
  <strong>Click 15 movement:</strong>
  <%= @element.click_15_movement %>
</p>

<p>
  <strong>Click 16 movement:</strong>
  <%= @element.click_16_movement %>
</p>

<p>
  <strong>Click 17 movement:</strong>
  <%= @element.click_17_movement %>
</p>

<p>
  <strong>Click 18 movement:</strong>
  <%= @element.click_18_movement %>
</p>

<p>
  <strong>Click 19 movement:</strong>
  <%= @element.click_19_movement %>
</p>

<p>
  <strong>Click 20 movement:</strong>
  <%= @element.click_20_movement %>
</p>

<p>
  <strong>Click 21 movement:</strong>
  <%= @element.click_21_movement %>
</p>

<p>
  <strong>Click 22 movement:</strong>
  <%= @element.click_22_movement %>
</p>

<p>
  <strong>Click 23 movement:</strong>
  <%= @element.click_23_movement %>
</p>

<p>
  <strong>Click 24 movement:</strong>
  <%= @element.click_24_movement %>
</p>

<p>
  <strong>Click 25 movement:</strong>
  <%= @element.click_25_movement %>
</p>

<p>
  <strong>Click 1 attack:</strong>
  <%= @element.click_1_attack %>
</p>

<p>
  <strong>Click 2 attack:</strong>
  <%= @element.click_2_attack %>
</p>

<p>
  <strong>Click 3 attack:</strong>
  <%= @element.click_3_attack %>
</p>

<p>
  <strong>Click 4 attack:</strong>
  <%= @element.click_4_attack %>
</p>

<p>
  <strong>Click 5 attack:</strong>
  <%= @element.click_5_attack %>
</p>

<p>
  <strong>Click 6 attack:</strong>
  <%= @element.click_6_attack %>
</p>

<p>
  <strong>Click 7 attack:</strong>
  <%= @element.click_7_attack %>
</p>

<p>
  <strong>Click 8 attack:</strong>
  <%= @element.click_8_attack %>
</p>

<p>
  <strong>Click 9 attack:</strong>
  <%= @element.click_9_attack %>
</p>

<p>
  <strong>Click 10 attack:</strong>
  <%= @element.click_10_attack %>
</p>

<p>
  <strong>Click 11 attack:</strong>
  <%= @element.click_11_attack %>
</p>

<p>
  <strong>Click 12 attack:</strong>
  <%= @element.click_12_attack %>
</p>

<p>
  <strong>Click 13 attack:</strong>
  <%= @element.click_13_attack %>
</p>

<p>
  <strong>Click 14 attack:</strong>
  <%= @element.click_14_attack %>
</p>

<p>
  <strong>Click 15 attack:</strong>
  <%= @element.click_15_attack %>
</p>

<p>
  <strong>Click 16 attack:</strong>
  <%= @element.click_16_attack %>
</p>

<p>
  <strong>Click 17 attack:</strong>
  <%= @element.click_17_attack %>
</p>

<p>
  <strong>Click 18 attack:</strong>
  <%= @element.click_18_attack %>
</p>

<p>
  <strong>Click 19 attack:</strong>
  <%= @element.click_19_attack %>
</p>

<p>
  <strong>Click 20 attack:</strong>
  <%= @element.click_20_attack %>
</p>

<p>
  <strong>Click 21 attack:</strong>
  <%= @element.click_21_attack %>
</p>

<p>
  <strong>Click 22 attack:</strong>
  <%= @element.click_22_attack %>
</p>

<p>
  <strong>Click 23 attack:</strong>
  <%= @element.click_23_attack %>
</p>

<p>
  <strong>Click 24 attack:</strong>
  <%= @element.click_24_attack %>
</p>

<p>
  <strong>Click 25 attack:</strong>
  <%= @element.click_25_attack %>
</p>

<p>
  <strong>Click 1 defense:</strong>
  <%= @element.click_1_defense %>
</p>

<p>
  <strong>Click 2 defense:</strong>
  <%= @element.click_2_defense %>
</p>

<p>
  <strong>Click 3 defense:</strong>
  <%= @element.click_3_defense %>
</p>

<p>
  <strong>Click 4 defense:</strong>
  <%= @element.click_4_defense %>
</p>

<p>
  <strong>Click 5 defense:</strong>
  <%= @element.click_5_defense %>
</p>

<p>
  <strong>Click 6 defense:</strong>
  <%= @element.click_6_defense %>
</p>

<p>
  <strong>Click 7 defense:</strong>
  <%= @element.click_7_defense %>
</p>

<p>
  <strong>Click 8 defense:</strong>
  <%= @element.click_8_defense %>
</p>

<p>
  <strong>Click 9 defense:</strong>
  <%= @element.click_9_defense %>
</p>

<p>
  <strong>Click 10 defense:</strong>
  <%= @element.click_10_defense %>
</p>

<p>
  <strong>Click 11 defense:</strong>
  <%= @element.click_11_defense %>
</p>

<p>
  <strong>Click 12 defense:</strong>
  <%= @element.click_12_defense %>
</p>

<p>
  <strong>Click 13 defense:</strong>
  <%= @element.click_13_defense %>
</p>

<p>
  <strong>Click 14 defense:</strong>
  <%= @element.click_14_defense %>
</p>

<p>
  <strong>Click 15 defense:</strong>
  <%= @element.click_15_defense %>
</p>

<p>
  <strong>Click 16 defense:</strong>
  <%= @element.click_16_defense %>
</p>

<p>
  <strong>Click 17 defense:</strong>
  <%= @element.click_17_defense %>
</p>

<p>
  <strong>Click 18 defense:</strong>
  <%= @element.click_18_defense %>
</p>

<p>
  <strong>Click 19 defense:</strong>
  <%= @element.click_19_defense %>
</p>

<p>
  <strong>Click 20 defense:</strong>
  <%= @element.click_20_defense %>
</p>

<p>
  <strong>Click 21 defense:</strong>
  <%= @element.click_21_defense %>
</p>

<p>
  <strong>Click 22 defense:</strong>
  <%= @element.click_22_defense %>
</p>

<p>
  <strong>Click 23 defense:</strong>
  <%= @element.click_23_defense %>
</p>

<p>
  <strong>Click 24 defense:</strong>
  <%= @element.click_24_defense %>
</p>

<p>
  <strong>Click 25 defense:</strong>
  <%= @element.click_25_defense %>
</p>

<p>
  <strong>Click 1 damage:</strong>
  <%= @element.click_1_damage %>
</p>

<p>
  <strong>Click 2 damage:</strong>
  <%= @element.click_2_damage %>
</p>

<p>
  <strong>Click 3 damage:</strong>
  <%= @element.click_3_damage %>
</p>

<p>
  <strong>Click 4 damage:</strong>
  <%= @element.click_4_damage %>
</p>

<p>
  <strong>Click 5 damage:</strong>
  <%= @element.click_5_damage %>
</p>

<p>
  <strong>Click 6 damage:</strong>
  <%= @element.click_6_damage %>
</p>

<p>
  <strong>Click 7 damage:</strong>
  <%= @element.click_7_damage %>
</p>

<p>
  <strong>Click 8 damage:</strong>
  <%= @element.click_8_damage %>
</p>

<p>
  <strong>Click 9 damage:</strong>
  <%= @element.click_9_damage %>
</p>

<p>
  <strong>Click 10 damage:</strong>
  <%= @element.click_10_damage %>
</p>

<p>
  <strong>Click 11 damage:</strong>
  <%= @element.click_11_damage %>
</p>

<p>
  <strong>Click 12 damage:</strong>
  <%= @element.click_12_damage %>
</p>

<p>
  <strong>Click 13 damage:</strong>
  <%= @element.click_13_damage %>
</p>

<p>
  <strong>Click 14 damage:</strong>
  <%= @element.click_14_damage %>
</p>

<p>
  <strong>Click 15 damage:</strong>
  <%= @element.click_15_damage %>
</p>

<p>
  <strong>Click 16 damage:</strong>
  <%= @element.click_16_damage %>
</p>

<p>
  <strong>Click 17 damage:</strong>
  <%= @element.click_17_damage %>
</p>

<p>
  <strong>Click 18 damage:</strong>
  <%= @element.click_18_damage %>
</p>

<p>
  <strong>Click 19 damage:</strong>
  <%= @element.click_19_damage %>
</p>

<p>
  <strong>Click 20 damage:</strong>
  <%= @element.click_20_damage %>
</p>

<p>
  <strong>Click 21 damage:</strong>
  <%= @element.click_21_damage %>
</p>

<p>
  <strong>Click 22 damage:</strong>
  <%= @element.click_22_damage %>
</p>

<p>
  <strong>Click 23 damage:</strong>
  <%= @element.click_23_damage %>
</p>

<p>
  <strong>Click 24 damage:</strong>
  <%= @element.click_24_damage %>
</p>

<p>
  <strong>Click 25 damage:</strong>
  <%= @element.click_25_damage %>
</p>

<p>
  <strong>All text:</strong>
  <%= @element.all_text %>
</p>

<p>
  <strong>Figure tag:</strong>
  <%= @element.figure_tag %>
</p>

<p>
  <strong>Click 1 2 powers:</strong>
  <%= @element.click_1_2_powers %>
</p>

<p>
  <strong>Has ee on 1 or 2:</strong>
  <%= @element.has_ee_on_1_or_2 %>
</p>

<p>
  <strong>Has inc on 1 or 2:</strong>
  <%= @element.has_inc_on_1_or_2 %>
</p>

<p>
  <strong>Has psy on 1 or 2:</strong>
  <%= @element.has_psy_on_1_or_2 %>
</p>

<p>
  <strong>Has poi on 1 or 2:</strong>
  <%= @element.has_poi_on_1_or_2 %>
</p>

<p>
  <strong>Has ps on 1 or 2:</strong>
  <%= @element.has_ps_on_1_or_2 %>
</p>

<p>
  <strong>Has pw on 1 or 2:</strong>
  <%= @element.has_pw_on_1_or_2 %>
</p>

<p>
  <strong>Has qua on 1 or 2:</strong>
  <%= @element.has_qua_on_1_or_2 %>
</p>

<p>
  <strong>Has rev on 1 or 2:</strong>
  <%= @element.has_rev_on_1_or_2 %>
</p>

<p>
  <strong>Has se on 1 or 2:</strong>
  <%= @element.has_se_on_1_or_2 %>
</p>

<p>
  <strong>Has sla on 1 or 2:</strong>
  <%= @element.has_sla_on_1_or_2 %>
</p>

<p>
  <strong>Has smo on 1 or 2:</strong>
  <%= @element.has_smo_on_1_or_2 %>
</p>

<p>
  <strong>Has sstr on 1 or 2:</strong>
  <%= @element.has_sstr_on_1_or_2 %>
</p>

<p>
  <strong>Has stu on 1 or 2:</strong>
  <%= @element.has_stu_on_1_or_2 %>
</p>

<p>
  <strong>Has sub on 1 or 2:</strong>
  <%= @element.has_sub_on_1_or_2 %>
</p>

<p>
  <strong>Has tk on 1 or 2:</strong>
  <%= @element.has_tk_on_1_or_2 %>
</p>

<p>
  <strong>Has bf on 1 or 2:</strong>
  <%= @element.has_bf_on_1_or_2 %>
</p>

<p>
  <strong>Has cce on 1 or 2:</strong>
  <%= @element.has_cce_on_1_or_2 %>
</p>

<p>
  <strong>Has emp on 1 or 2:</strong>
  <%= @element.has_emp_on_1_or_2 %>
</p>

<p>
  <strong>Has enh on 1 or 2:</strong>
  <%= @element.has_enh_on_1_or_2 %>
</p>

<p>
  <strong>Has ew on 1 or 2:</strong>
  <%= @element.has_ew_on_1_or_2 %>
</p>

<p>
  <strong>Has ldr on 1 or 2:</strong>
  <%= @element.has_ldr_on_1_or_2 %>
</p>

<p>
  <strong>Has ow on 1 or 2:</strong>
  <%= @element.has_ow_on_1_or_2 %>
</p>

<p>
  <strong>Has pc on 1 or 2:</strong>
  <%= @element.has_pc_on_1_or_2 %>
</p>

<p>
  <strong>Has ppx on 1 or 2:</strong>
  <%= @element.has_ppx_on_1_or_2 %>
</p>

<p>
  <strong>Has rce on 1 or 2:</strong>
  <%= @element.has_rce_on_1_or_2 %>
</p>

<p>
  <strong>Has sc on 1 or 2:</strong>
  <%= @element.has_sc_on_1_or_2 %>
</p>

<p>
  <strong>Has sup on 1 or 2:</strong>
  <%= @element.has_sup_on_1_or_2 %>
</p>

<p>
  <strong>Has bar on 1 or 2:</strong>
  <%= @element.has_bar_on_1_or_2 %>
</p>

<p>
  <strong>Has cr on 1 or 2:</strong>
  <%= @element.has_cr_on_1_or_2 %>
</p>

<p>
  <strong>Has def on 1 or 2:</strong>
  <%= @element.has_def_on_1_or_2 %>
</p>

<p>
  <strong>Has esd on 1 or 2:</strong>
  <%= @element.has_esd_on_1_or_2 %>
</p>

<p>
  <strong>Has imp on 1 or 2:</strong>
  <%= @element.has_imp_on_1_or_2 %>
</p>

<p>
  <strong>Has invin on 1 or 2:</strong>
  <%= @element.has_invin_on_1_or_2 %>
</p>

<p>
  <strong>Has invul on 1 or 2:</strong>
  <%= @element.has_invul_on_1_or_2 %>
</p>

<p>
  <strong>Has mmd on 1 or 2:</strong>
  <%= @element.has_mmd_on_1_or_2 %>
</p>

<p>
  <strong>Has reg on 1 or 2:</strong>
  <%= @element.has_reg_on_1_or_2 %>
</p>

<p>
  <strong>Has ssen on 1 or 2:</strong>
  <%= @element.has_ssen_on_1_or_2 %>
</p>

<p>
  <strong>Has tgh on 1 or 2:</strong>
  <%= @element.has_tgh_on_1_or_2 %>
</p>

<p>
  <strong>Has wpw on 1 or 2:</strong>
  <%= @element.has_wpw_on_1_or_2 %>
</p>

<p>
  <strong>Has chg on 1 or 2:</strong>
  <%= @element.has_chg_on_1_or_2 %>
</p>

<p>
  <strong>Has eb on 1 or 2:</strong>
  <%= @element.has_eb_on_1_or_2 %>
</p>

<p>
  <strong>Has fb on 1 or 2:</strong>
  <%= @element.has_fb_on_1_or_2 %>
</p>

<p>
  <strong>Has flu on 1 or 2:</strong>
  <%= @element.has_flu_on_1_or_2 %>
</p>

<p>
  <strong>Has fly on 1 or 2:</strong>
  <%= @element.has_fly_on_1_or_2 %>
</p>

<p>
  <strong>Has hss on 1 or 2:</strong>
  <%= @element.has_hss_on_1_or_2 %>
</p>

<p>
  <strong>Has lc on 1 or 2:</strong>
  <%= @element.has_lc_on_1_or_2 %>
</p>

<p>
  <strong>Has ls on 1 or 2:</strong>
  <%= @element.has_ls_on_1_or_2 %>
</p>

<p>
  <strong>Has mc on 1 or 2:</strong>
  <%= @element.has_mc_on_1_or_2 %>
</p>

<p>
  <strong>Has nim on 1 or 2:</strong>
  <%= @element.has_nim_on_1_or_2 %>
</p>

<p>
  <strong>Has pha on 1 or 2:</strong>
  <%= @element.has_pha_on_1_or_2 %>
</p>

<p>
  <strong>Has pla on 1 or 2:</strong>
  <%= @element.has_pla_on_1_or_2 %>
</p>

<p>
  <strong>Has rs on 1 or 2:</strong>
  <%= @element.has_rs_on_1_or_2 %>
</p>

<p>
  <strong>Has sli on 1 or 2:</strong>
  <%= @element.has_sli_on_1_or_2 %>
</p>

<p>
  <strong>Has ss on 1 or 2:</strong>
  <%= @element.has_ss_on_1_or_2 %>
</p>

<p>
  <strong>Has sth on 1 or 2:</strong>
  <%= @element.has_sth_on_1_or_2 %>
</p>

<p>
  <strong>Has bcf on dial:</strong>
  <%= @element.has_bcf_on_dial %>
</p>

<p>
  <strong>Has ee on dial:</strong>
  <%= @element.has_ee_on_dial %>
</p>

<p>
  <strong>Has inc on dial:</strong>
  <%= @element.has_inc_on_dial %>
</p>

<p>
  <strong>Has psy on dial:</strong>
  <%= @element.has_psy_on_dial %>
</p>

<p>
  <strong>Has poi on dial:</strong>
  <%= @element.has_poi_on_dial %>
</p>

<p>
  <strong>Has ps on dial:</strong>
  <%= @element.has_ps_on_dial %>
</p>

<p>
  <strong>Has pw on dial:</strong>
  <%= @element.has_pw_on_dial %>
</p>

<p>
  <strong>Has qua on dial:</strong>
  <%= @element.has_qua_on_dial %>
</p>

<p>
  <strong>Has rev on dial:</strong>
  <%= @element.has_rev_on_dial %>
</p>

<p>
  <strong>Has se on dial:</strong>
  <%= @element.has_se_on_dial %>
</p>

<p>
  <strong>Has sla on dial:</strong>
  <%= @element.has_sla_on_dial %>
</p>

<p>
  <strong>Has smo on dial:</strong>
  <%= @element.has_smo_on_dial %>
</p>

<p>
  <strong>Has sstr on dial:</strong>
  <%= @element.has_sstr_on_dial %>
</p>

<p>
  <strong>Has stu on dial:</strong>
  <%= @element.has_stu_on_dial %>
</p>

<p>
  <strong>Has sub on dial:</strong>
  <%= @element.has_sub_on_dial %>
</p>

<p>
  <strong>Has tk on dial:</strong>
  <%= @element.has_tk_on_dial %>
</p>

<p>
  <strong>Has bf on dial:</strong>
  <%= @element.has_bf_on_dial %>
</p>

<p>
  <strong>Has cce on dial:</strong>
  <%= @element.has_cce_on_dial %>
</p>

<p>
  <strong>Has emp on dial:</strong>
  <%= @element.has_emp_on_dial %>
</p>

<p>
  <strong>Has enh on dial:</strong>
  <%= @element.has_enh_on_dial %>
</p>

<p>
  <strong>Has ew on dial:</strong>
  <%= @element.has_ew_on_dial %>
</p>

<p>
  <strong>Has ldr on dial:</strong>
  <%= @element.has_ldr_on_dial %>
</p>

<p>
  <strong>Has ow on dial:</strong>
  <%= @element.has_ow_on_dial %>
</p>

<p>
  <strong>Has pc on dial:</strong>
  <%= @element.has_pc_on_dial %>
</p>

<p>
  <strong>Has ppx on dial:</strong>
  <%= @element.has_ppx_on_dial %>
</p>

<p>
  <strong>Has rce on dial:</strong>
  <%= @element.has_rce_on_dial %>
</p>

<p>
  <strong>Has sc on dial:</strong>
  <%= @element.has_sc_on_dial %>
</p>

<p>
  <strong>Has sup on dial:</strong>
  <%= @element.has_sup_on_dial %>
</p>

<p>
  <strong>Has bar on dial:</strong>
  <%= @element.has_bar_on_dial %>
</p>

<p>
  <strong>Has cr on dial:</strong>
  <%= @element.has_cr_on_dial %>
</p>

<p>
  <strong>Has def on dial:</strong>
  <%= @element.has_def_on_dial %>
</p>

<p>
  <strong>Has esd on dial:</strong>
  <%= @element.has_esd_on_dial %>
</p>

<p>
  <strong>Has imp on dial:</strong>
  <%= @element.has_imp_on_dial %>
</p>

<p>
  <strong>Has invin on dial:</strong>
  <%= @element.has_invin_on_dial %>
</p>

<p>
  <strong>Has invul on dial:</strong>
  <%= @element.has_invul_on_dial %>
</p>

<p>
  <strong>Has mmd on dial:</strong>
  <%= @element.has_mmd_on_dial %>
</p>

<p>
  <strong>Has reg on dial:</strong>
  <%= @element.has_reg_on_dial %>
</p>

<p>
  <strong>Has ssen on dial:</strong>
  <%= @element.has_ssen_on_dial %>
</p>

<p>
  <strong>Has tgh on dial:</strong>
  <%= @element.has_tgh_on_dial %>
</p>

<p>
  <strong>Has wpw on dial:</strong>
  <%= @element.has_wpw_on_dial %>
</p>

<p>
  <strong>Has chg on dial:</strong>
  <%= @element.has_chg_on_dial %>
</p>

<p>
  <strong>Has eb on dial:</strong>
  <%= @element.has_eb_on_dial %>
</p>

<p>
  <strong>Has fb on dial:</strong>
  <%= @element.has_fb_on_dial %>
</p>

<p>
  <strong>Has flu on dial:</strong>
  <%= @element.has_flu_on_dial %>
</p>

<p>
  <strong>Has fly on dial:</strong>
  <%= @element.has_fly_on_dial %>
</p>

<p>
  <strong>Has hss on dial:</strong>
  <%= @element.has_hss_on_dial %>
</p>

<p>
  <strong>Has lc on dial:</strong>
  <%= @element.has_lc_on_dial %>
</p>

<p>
  <strong>Has ls on dial:</strong>
  <%= @element.has_ls_on_dial %>
</p>

<p>
  <strong>Has mc on dial:</strong>
  <%= @element.has_mc_on_dial %>
</p>

<p>
  <strong>Has nim on dial:</strong>
  <%= @element.has_nim_on_dial %>
</p>

<p>
  <strong>Has pha on dial:</strong>
  <%= @element.has_pha_on_dial %>
</p>

<p>
  <strong>Has pla on dial:</strong>
  <%= @element.has_pla_on_dial %>
</p>

<p>
  <strong>Has rs on dial:</strong>
  <%= @element.has_rs_on_dial %>
</p>

<p>
  <strong>Has sli on dial:</strong>
  <%= @element.has_sli_on_dial %>
</p>

<p>
  <strong>Has ss on dial:</strong>
  <%= @element.has_ss_on_dial %>
</p>

<p>
  <strong>Has sth on dial:</strong>
  <%= @element.has_sth_on_dial %>
</p>

<p>
  <strong>Max att 1 2:</strong>
  <%= @element.max_att_1_2 %>
</p>

<p>
  <strong>Max att dial:</strong>
  <%= @element.max_att_dial %>
</p>

<p>
  <strong>Max spd 1 2:</strong>
  <%= @element.max_spd_1_2 %>
</p>

<p>
  <strong>Max spd dial:</strong>
  <%= @element.max_spd_dial %>
</p>

<p>
  <strong>Max def 1 2:</strong>
  <%= @element.max_def_1_2 %>
</p>

<p>
  <strong>Max def dial:</strong>
  <%= @element.max_def_dial %>
</p>

<p>
  <strong>Max dam 1 2:</strong>
  <%= @element.max_dam_1_2 %>
</p>

<p>
  <strong>Max dam dial:</strong>
  <%= @element.max_dam_dial %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
